<footer>
	
<ul class="social-lst">
	<li class="social-item">
	
		<a href="mailto:brandonia@protonmail.com"><img src="/img/envelope-solid.svg" class="social-icon"></a>
		
	</li>
	<li class="social-item">
	
		<a href="https://www.gitlab.com/brandonia"><img src="/img/gitlab.svg" class="social-icon"></a>
		
	</li>
</ul>	
</footer>
