<head>
	<title>{{ .Site.Title }}</title>
	<link rel="stylesheet" href="{{ "css/style.css" | absURL }}?rnd=132">
	<link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}?rnd=132">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>