{{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
<ul class="tags">
  {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
  <li>
  	<img src="/img/tag-solid.svg" class="tag-icon"></i>
    <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
  </li>
  {{- end -}} {{- end -}}
</ul>
{{ end }}