<!DOCTYPE html>
<html>
		
	{{ partial "head.html" . }}

	<body>				
			
		<img{{ with .Params.images }} src="{{ . }}"{{ end }} alt="" class="banner">

		{{ partial "nav.html" . }}

		{{ block "content" . }}{{ end }}		

	</body>

	{{ partial "footer.html" . }}

</html>